---
layout: compress
---

<!DOCTYPE html>
<html lang="en" >

  <head>
    {% include head.html %} 
    <link rel="apple-touch-icon" sizes="180x180" href="https://owendhkim.github.io/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://owendhkim.github.io/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://owendhkim.github.io/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="https://owendhkim.github.io/assets/favicons/site.webmanifest">
    <link rel="mask-icon" href="https://owendhkim.github.io/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
  </head>
 
  <body>
    <main>
	    
	    {% include navigation.html %}
	    
        {{ content }}
        	    
    </main>
            
  </body>
</html>
